<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tw.example.movie.moviebooking.moviedetail">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tw.example.movie.moviedetail.DetailsActivity"></activity>
    </application>
</manifest>