<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tw.example.movie.moviebooking.moviedetail">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tw.example.movie.moviedetail.DetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="moviebooking.com"
                    android:pathPattern="/detail.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>